{{# each products }}
  <div class="row">
    {{# each this }}
      <div class="card col-sm-12 col-md-4" style="width: 18rem;">
      <img class="card-img-top img-fluid" src="{{ this.imagePath }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ this.title }}</h5>
        <p class="card-text description">{{ this.description }}</p>
        <div class="row">
          <div class="col-md-6">
            <p class="card-text">Price: ${{ this.price }}</p>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-success">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    {{/ each }}
{{/ each }}